:root {
    --main-text-color: #FFFFFF;
    --second-text-color: #000000;
    --accent-text-color: #FF6B08;
    --footer-text-color:#545454;
    --footer-bg-color: #F7F7F7;
    --modal-bg-color: #FFFFFF;
    --backdrop-bg-color: rgba(0, 0, 0, 0.5);
    --modal-first-text-color: #000000;
    --modal-second-text-color: #8c8c8c;
    --modal-third-text-color: #FFFFFF;
}