<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <ul class="footer-list list">
        <li>
          <div class="footer-copyright">
            <p class="footer-text">&#169; 2022 | All Rights Reserved |</p>
          </div>
        </li>
        <li>
          <div class="footer-devs">
            <p class="footer-text">
              Developed with
              <span
                ><a
                  href=""
                  class="link"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                </a
              ></span>
              by
              <a
                href=""
                target="_blank"
                class="link footer-link"
                data-action="open-modal_tm"
                >GoIT Students</a
              >
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
