<div class="header">
    <div class="container">
        <div class="header__box">

        <div class="header__logo">
        <p ><img src="/src/images/film.png" alt="cinema image"></p>
        </div>

        <div class="header__title">
        <h1 class="header__text">Filmoteka</h1>
        </div>
    
        
    <div class="header__menu">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="#" class="sitenav__linkcurrent active">HOME</a>
                </li>
                <li class="header__item">
                    <a href="#" class="sitenav__link">MY LIBRARY</a>
                </li>
        </nav>
        </div>


        </div>
        <div class="header__searchform">
            <p class="header__searchname">Поиск фильмов</p>
            <p class="header__image">
                <svg class="header__svg" width="12" height="12">
                <use href="/src/images/icons.svg#icon-search"></use>
            </svg></p>
        </div>
    </div> 
</div>