<section class="main-gallery__section">
  <div class="container">
    <h1 class="visually-hidden">Popular films</h1>
    <ul class="main-gallery__list list">
      <li class="card">
        <div class="card__container">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop.poster.jpg   1x,
                ./images/gallery/2xDesktop-poster.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/gallery/tablet.poster.jpg    1x,
                ./images/gallery/2x-tablet-poster.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/gallery/mob.poster.jpg    1x,
                ./images/gallery/2x-mob-poster.jpg 2x
              " />
            <img
              src="./images/gallery/mob.poster.jpg"
              alt="poster"
              class="card__img"
          /></picture>
        </div>
        <div class="card__meta meta">
          <p class="meta__title">LITTLE WOMEN</p>
          <ul class="meta__list list">
            <li class="meta__item meta__item--genres">DRAMA</li>
            <li class="meta__item">2019</li>
          </ul>
        </div>
      </li>
      <li class="card">
        <div class="card__container">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop.poster.jpg   1x,
                ./images/gallery/2xDesktop-poster.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/gallery/tablet.poster.jpg    1x,
                ./images/gallery/2x-tablet-poster.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/gallery/mob.poster.jpg    1x,
                ./images/gallery/2x-mob-poster.jpg 2x
              " />
            <img
              src="./images/gallery/mob.poster.jpg"
              alt="poster"
              class="card__img"
          /></picture>
        </div>
        <div class="card__meta meta">
          <p class="meta__title">LITTLE WOMEN</p>
          <ul class="meta__list list">
            <li class="meta__item meta__item--genres">DRAMA</li>
            <li class="meta__item">2019</li>
          </ul>
        </div>
      </li>
      <li class="card">
        <div class="card__container">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop.poster.jpg   1x,
                ./images/gallery/2xDesktop-poster.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/gallery/tablet.poster.jpg    1x,
                ./images/gallery/2x-tablet-poster.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/gallery/mob.poster.jpg    1x,
                ./images/gallery/2x-mob-poster.jpg 2x
              " />
            <img
              src="./images/gallery/mob.poster.jpg"
              alt="poster"
              class="card__img"
          /></picture>
        </div>
        <div class="card__meta meta">
          <p class="meta__title">LITTLE WOMEN</p>
          <ul class="meta__list list">
            <li class="meta__item meta__item--genres">DRAMA</li>
            <li class="meta__item">2019</li>
          </ul>
        </div>
      </li>
      <li class="card">
        <div class="card__container">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop.poster.jpg   1x,
                ./images/gallery/2xDesktop-poster.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/gallery/tablet.poster.jpg    1x,
                ./images/gallery/2x-tablet-poster.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/gallery/mob.poster.jpg    1x,
                ./images/gallery/2x-mob-poster.jpg 2x
              " />
            <img
              src="./images/gallery/mob.poster.jpg"
              alt="poster"
              class="card__img"
          /></picture>
        </div>
        <div class="card__meta meta">
          <p class="meta__title">LITTLE WOMEN</p>
          <ul class="meta__list list">
            <li class="meta__item meta__item--genres">DRAMA</li>
            <li class="meta__item">2019</li>
          </ul>
        </div>
      </li>
      <li class="card">
        <div class="card__container">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop.poster.jpg   1x,
                ./images/gallery/2xDesktop-poster.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/gallery/tablet.poster.jpg    1x,
                ./images/gallery/2x-tablet-poster.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/gallery/mob.poster.jpg    1x,
                ./images/gallery/2x-mob-poster.jpg 2x
              " />
            <img
              src="./images/gallery/mob.poster.jpg"
              alt="poster"
              class="card__img"
          /></picture>
        </div>
        <div class="card__meta meta">
          <p class="meta__title">LITTLE WOMEN</p>
          <ul class="meta__list list">
            <li class="meta__item meta__item--genres">DRAMA</li>
            <li class="meta__item">2019</li>
          </ul>
        </div>
      </li>
      <li class="card">
        <div class="card__container">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop.poster.jpg   1x,
                ./images/gallery/2xDesktop-poster.jpg 2x
              "
              media="(min-width: 1024px)" />
            <source
              srcset="
                ./images/gallery/tablet.poster.jpg    1x,
                ./images/gallery/2x-tablet-poster.jpg 2x
              "
              media="(min-width: 768px)" />

            <source
              srcset="
                ./images/gallery/mob.poster.jpg    1x,
                ./images/gallery/2x-mob-poster.jpg 2x
              " />
            <img
              src="./images/gallery/mob.poster.jpg"
              alt="poster"
              class="card__img"
          /></picture>
        </div>
        <div class="card__meta meta">
          <p class="meta__title">LITTLE WOMEN</p>
          <ul class="meta__list list">
            <li class="meta__item meta__item--genres">DRAMA</li>
            <li class="meta__item">2019</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
