<button class="button" data-action="open-modal_tm">Открыть модалку</button>

<div class="backdrop_tm js-backdrop_tm">
  <div class="modal_tm">
    <h2>Наша супер команда!!!</h2>
    <img
      src="./images/heart-footer.png"
      alt="heart vector"
      class="heart-vector"
    />
    <ul>
      <li>Мария Стрельцова</li>
      <li>Евгений Головко</li>
      <li>Станислав Фирсов</li>
      <li>Степан Борчук</li>
      <li>Евгения Пласконь</li>
      <li>Кирил</li>
      <li>Александр Левчук</li>
      <li>Сергей</li>
      <li>Ирина Ващенко</li>
      <li>Богдан Сова</li>
      <li>Александр Чуйко</li>
    </ul>
    <button type="button" class="close-modal_tm" data-action="close-modal_tm">
      Закрыть
    </button>
  </div>
</div>
