<!-- <button class="button" data-action="open-modal_tm">Открыть модалку</button> -->

<div class="backdrop_tm js-backdrop_tm">
  <div class="modal_tm">
    <button type="button" class="close-modal_tm" data-action="close-modal_tm">
      X
    </button>
    <h2>Наша супер команда!!!</h2>

    <ul class="list_tm">
      <li>
        <img
          src="/src/images/foto_tm/mariiastreltsova.jpg"
          alt="team member"
          class="foto_tm"
        />Мария Стрельцова
      </li>

      <li>
        <img
          src="/src/images/foto_tm/eugeniygolovko.jpg"
          alt="team member"
          class="foto_tm"
        />
        Евгений Головко
      </li>
      <li>
        <img
          src="/src/images/foto_tm/stasfirsov.jpg"
          alt="team member"
          class="foto_tm"
        />Станислав Фирсов
      </li>
      <li>
        <img
          src="/src/images/foto_tm/stepanborchuk.jpg"
          alt="team member"
          class="foto_tm"
        />Степан Борчук
      </li>
      <li>Евгения Пласконь</li>
      <li>Кирил</li>
      <li>
        <img
          src="/src/images/foto_tm/alexlevchuk.jpg"
          alt="team member"
          class="foto_tm"
        />Александр Левчук
      </li>
      <li>Сергей</li>
      <li>Ирина Ващенко</li>
      <li>Богдан Сова</li>
      <li>
        <img
          src="/src/images/foto_tm/alexchuyko.jpg"
          alt="team member"
        />Александр Чуйко
      </li>
    </ul>

  </div>
</div>
