<div class="pagination__wrapper">
    <button type="button" class="pagination__button pagination__button--left">
        <svg class="pagination__icon" width="16" height="16"> <use href="/src/images/icons.svg#icon-arrow-left"></use></svg>
    </button>
    <div class="pagination">
        </div>
        <button type="button" class="pagination__button pagination__button--right" >
        <svg class="pagination__icon" width="16" height="16"> <use href="/src/images/icons.svg#icon-arrow-right"></use></svg></button>
</div>