.card {
  margin: 10px;

  @media screen and (min-width: 768px) {
    margin: 16px;
    width: calc(100% / 2 - 32px);
  }
  @media screen and (min-width: 1024px) {
    width: calc(100% / 3 - 32px);
  }

  &__container {
    margin-bottom: 10px;
  }
  &__img {
    border-radius: 5px;
    max-width: 100%;
  }
}
.meta {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  &__list {
    display: flex;
    color: #ff6b08;
  }
  &__item {
    &:not(:first-child) {
      margin-left: 5px;
    }

    &--genres {
      border-right: 1px solid orange;
      padding-right: 5px;
    }
    &--rating {
      color: white;
      background-color: orange;
      padding: 0 9px;
      border-radius: 4px;
    }
  }
}
