.header {
    height: 216px;
    background: rgba(0, 0, 0, 0.56);
    background-image: url(/src/images/header/header-mob.jpg);

    @media screen and (min-width: 768px) {
        background-image: url(/src/images/header/header-tablet.jpg);
    }

    @media screen and (min-width: 1024px) {
        background-image: url(/src/images/header/header_pc.jpg);
    }
}

.header__box {
    display: flex;
}

.header__logo {
    padding-top: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 45px;
        display: flex;
    }
}

.header__text {
    display: none;
    padding-top: 40px;
    padding-left: 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: var(--main-text-color);

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.header__menu {
    display: flex;
    margin-left: auto;
}

.header__list {
    display: flex;
    padding-top: 44px;

    @media screen and (min-width: 768px) {
        padding-top: 49px;
    }
}

.header__item {
    padding-left: 40px;

    @media screen and (min-width: 1024px) {
        padding-left: 49px;
    }
}

.sitenav__link {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.sitenav__linkcurrent {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.current::after {
    content: '';
    display: block;
    height: 3px;
    background-color: #FF6B08;
    border-radius: 2px;
}

.header__searchform {
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    max-width: 336px;
    font-size: 200%;
    border-bottom: 1px solid var(--main-text-color);
    font-weight: normal;
    padding-bottom: 4px;


    @media screen and (min-width: 768px) {
        margin-top: 50px;
    }
}

.header__searchname {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--main-text-color);
}

.header__button {
    background: transparent;
    margin-left: auto;
}

.header__svg {
    margin-left: auto;
    fill: #fff;
}

.header__my-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('/src/images/header-library/library_bg_img_mobile_1x-min.jpg');
    background-size: cover;
    background-position-y: 100%;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2) and (min-width: 320px),
    (min-resolution: 192dpi) and (min-width: 320px),
    (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('/src/images/header-library/library_bg_img_mobile_2x-min.jpg');
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('/src/images/header-library/library_bg_img_tablet_1x-min.jpg');
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('/src/images/header-library/library_bg_img_tablet_2x-min.jpg');
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('/src/images/header-library/library_bg_img_desktop_1x-min.jpg');
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 1024px),
    (min-resolution: 192dpi) and (min-width: 1024px),
    (min-resolution: 2dppx) and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('/src/images/header-library/library_bg_img_desktop_2x-min.jpg');
    }
}

li {
    list-style: none;
}

.library__list {
    display: flex;
    justify-content: center;
    margin: 0 -10px;
    margin-top: 40px;

    @media screen and (min-width: 768px) {
        margin: 0 -16px;
        margin-top: 40px;
    }

    @media screen and (min-width: 1024px) {
        margin: 0 -8px;
        margin-top: 40px;
    }
}

.is-hidden {
    display: none;
}


.library__link {
    margin: 0 10px;
    font-family: 'Roboto';
    width: 129px;
    height: 44px;
    border: 1px solid #FFFFFF;
    background: none;
    border-radius: 5px;
    color: #fff;

    font-size: 14px;

    &:hover {
        color: #fff;
        transition: color 500ms;
        border: 1px solid #ff6b08;
        transition: border 500ms;
    }

    @media screen and (min-width: 768px) {
        margin: 0 16px;
        width: 148px;
    }

    @media screen and (min-width: 1024px) {
        margin: 0 8px;
        width: 148px;
    }
}

.library__link.active {
    border: 0;
    background: #FF6B01;
    border: 2px solid #FF6B01;
    box-shadow: 0 8px 43px rgb(255 107 1 / 60%);
}

.header__form {
    width: 100%;
    display: flex;
}

.header__input {
    width: 175%;
    color: var(--main-text-color);
    font-size: 15px;
    background: none;
    border: none;

    @media screen and (min-width: 768px) {
        width: 210%;
    }
}

::-webkit-input-placeholder {
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    text-overflow: ellipsis;
}