.header {
    height: 216px; 
    background: rgba(0, 0, 0, 0.56);
    background-image:  url(/src/images/header/header-mob.jpg);
    @media screen and (min-width: 768px) {
            background-image: url(/src/images/header/header-tablet.jpg);
        }
        @media screen and (min-width: 1200px) {
        background-image: url(/src/images/header/header_pc.jpg);
        }
}

.header__box{
    display: flex;
}

.header__logo {
    padding-top: 40px;
    @media screen and (min-width: 768px) {
            padding-top: 45px;
            display: flex;
        }
}

.header__text{
    display: none;
    padding-top: 40px;
    padding-left: 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: var(--main-text-color);
    @media screen and (min-width: 768px) {
        display: flex;
        }
}

.header__menu {
    display: flex;
    margin-left: auto;
}

.header__list {
    display: flex;
    padding-top: 44px;
    @media screen and (min-width: 768px) {
            padding-top: 49px;
        }
}

.header__item {
    padding-left: 40px;
    @media screen and (min-width: 1200px) {
            padding-left: 49px;
        }     
}

.sitenav__link {
text-decoration: none;
font-family: 'Roboto';
font-weight: 500;
font-size: 12px;
line-height: 1.2;
text-transform: uppercase;
color: var(--main-text-color);
}

.sitenav__linkcurrent {
display: block;
position: relative;
text-decoration: none;
font-family: 'Roboto';
font-weight: 500;
font-size: 12px;
line-height: 1.2;
text-transform: uppercase;
color: var(--main-text-color);
}

.active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    pointer-events: none;
}

.header__searchform {
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    max-width: 336px;
    font-size: 200%; 
    border-bottom: 1px solid  var(--main-text-color); 
    font-weight: normal; 
    @media screen and (min-width: 768px) {
            margin-top: 50px;
        }
}

.header__searchname {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--main-text-color);
}

.header__image {
    margin-left: auto;
    margin-bottom: -20px;
}

.header__svg {
    margin-left: auto;
    margin-bottom: -2px;
    fill: #fff;
}

.header__form {
    width: 100%;
    display: flex;
}

.header__input {
    width: 175%;
    color: var(--main-text-color);
    font-size: 15px;
    background: none;
    border: none;
    @media screen and (min-width: 768px) {
            width: 210%;
        }
}

::-webkit-input-placeholder {
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    text-overflow: ellipsis;
}

