.pagination__wrapper{
    display: flex;
        justify-content: center;
            align-items: center;
            margin-bottom: 60px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination__btn {
    font-size: 12px;
    font-weight: 500;
    padding: 14px 18px;

    background-color: transparent;
    color: var(--second-text-color);
    
    border-radius: 5px;
}

.pagination__active{
    background-color: var(--accent-text-color);
        color: var(--main-text-color);
}
.pagination__button{
  
    padding: 16px 18px;
    border-radius: 5px;
}

.pagination__button--left {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__button--right {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__button--left,
.pagination__button--right {
    padding: 15px 15px;
    transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;

    &:hover,
    &:focus {
        color: #FF6B08;
        background-color: #FF6B08;
        opacity: 0.75;
        box-shadow: (0 0 10px rgb(255, 107, 8));

    }
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
